/*
 *  Copyright (C) 2010 Junpei Kawamoto
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
 function FindProxyForURL(url, host){

	var proxy = "PROXY ${host}:${port}";

	/* Filtering rules */
	#if (!$ssh)
	if(url.substr(0, 5) !== "https"){
	#end

	#foreach($regex in $filters)
	if(url.match(new RegExp("${regex.replace("\","\\")}")) !== null){ return proxy; }
	#end

	#if (!$ssh)
	}
	#end

	/* Routing rules */
	#foreach($item in $routings)
	if(url.match(new RegExp("${item[0].replace("\","\\")}")) !== null){ return ${item[1]}:${item[2]}; }
	#end

	return "DIRECT";

}
